@use '@fem-news/tokens/dist/scss/mixins' as *;
@use '@fem-news/tokens/dist/scss/tokens' as *;
@use '@/assets/styles/mixins' as *;

.entry {
  $entry: &;
  display: grid;
  gap: $fem-size-offset-400 $fem-size-offset-800;

  &--w-img {
    grid-template-columns: 6.25rem auto;

    &::before {
      content: '.';
      visibility: hidden;

      @extend %fem-text-heading-sans-300;
    }
  }

  &__image {
    grid-row: 1 / span 3;

    @extend %image-cover;
  }

  &__title {
    @extend %fem-text-heading-sans-100;
  }

  &__title--200 {
    line-height: $fem-text-heading-sans-200-height;
    font-size: $fem-text-heading-sans-200-size;
  }

  &__body--inverted {
    color: var(--fem-color-text-primary-inverted);
  }
}
