@use '@fem-news/tokens/dist/scss/tokens' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $fem-size-offset-900 0 $fem-size-offset-1100;

  @media only screen and (min-width: 68.267em) {
    padding: $fem-size-offset-2100 0 $fem-size-offset-1500;
  }

  &__logo {
    width: $fem-size-offset-1400;

    @media only screen and (min-width: 68.267em) {
      width: auto;
    }
  }
}
