@use '@fem-news/tokens/dist/scss/mixins' as *;
@use '@fem-news/tokens/dist/scss/tokens' as *;

.highlights {
  &__items {
    display: grid;
    gap: $fem-size-offset-1100;

    @media only screen and (min-width: 68.267em) {
      grid-template-columns: repeat(3, 1fr);
      gap: $fem-size-offset-1000;
    }
  }

  &__item {
    position: relative;
    counter-increment: count 1;

    &::before {
      position: absolute;
      content: counter(count, decimal-leading-zero);
      margin-left: 7.75rem;

      @extend %fem-text-heading-sans-300;
    }
  }
}
