@use '@fem-news/tokens/dist/scss/mixins' as *;
@use '@fem-news/tokens/dist/scss/tokens' as *;

.latest {
  padding: $fem-size-offset-800 $fem-size-offset-700;
  background-color: var(--fem-color-background-secondary);

  @media only screen and (min-width: 68.267em) {
    padding: $fem-size-offset-1100 $fem-size-offset-800;
  }

  &__title {
    margin-bottom: $fem-size-offset-1200;
    color: var(--fem-color-text-secondary-inverted);

    @extend %fem-text-heading-sans-300;
  }

  &__items {
    display: grid;
    gap: $fem-size-offset-1600;
  }

  &__item {
    position: relative;
    & + & {
      &::before {
        position: absolute;
        content: '';
        top: -$fem-size-offset-1000;
        height: 1px;
        width: 100%;
        border-top: 1px solid var(--fem-color-text-primary);
      }
    }
  }
}
