@use '@/assets/styles/mixins' as *;

.link {
  @extend %color-animation;

  &__primary {
    color: var(--fem-color-text-link-primary-rest);

    &:is(:hover, :focus) {
      color: var(--fem-color-text-link-primary-active);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--fem-color-border-link-primary-focus);
    }
  }

  &__primary-inverted {
    color: var(--fem-color-text-link-primary-inverted-rest);

    &:is(:hover, :focus) {
      color: var(--fem-color-text-link-primary-inverted-active);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--fem-color-border-link-primary-inverted-focus);
    }
  }
}
