@use '@fem-news/tokens/dist/scss/mixins' as *;
@use '@fem-news/tokens/dist/scss/tokens' as *;

.nav {
  $nav: &;
  display: grid;
  grid-auto-rows: min-content;
  visibility: hidden;

  @media only screen and (min-width: 68.267em) {
    visibility: visible;
  }

  &--opened {
    #{$nav}__toggle {
      justify-self: end;
      margin-top: $fem-size-offset-400;

      &::before {
        mask-image: url('@/assets/icons/icon-menu-close.svg');
        height: $fem-size-offset-1000;
        width: $fem-size-offset-1000;
      }
    }

    #{$nav}__items {
      display: flex;
    }
  }

  &__toggle {
    visibility: visible;

    @media only screen and (min-width: 68.267em) {
      display: none;
    }

    &::before {
      display: block;
      content: '';
      mask-image: url('@/assets/icons/icon-menu.svg');
      height: $fem-size-offset-600;
      width: $fem-size-offset-1300;
      background-color: var(--fem-color-text-secondary);
    }
  }

  &__items {
    display: none;
    flex-direction: column;
    gap: $fem-size-offset-800 $fem-size-offset-1300;
    margin-top: $fem-size-offset-2000;
    padding: 0 $fem-size-offset-300;

    @media only screen and (min-width: 68.267em) {
      display: flex;
      flex-direction: row;
      margin-top: 0;
    }
  }

  &__link {
    @media only screen and (min-width: 68.267em) {
      color: var(--fem-color-text-primary);
    }
  }
}
