@use '@fem-news/tokens/dist/scss/tokens' as *;

.section {
  max-width: $fem-size-offset-2200;
  margin: 0 $fem-size-offset-600;

  @media only screen and (min-width: 68.267em) {
    margin: 0 auto;
  }
}
